<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Solutionise</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet" />
    <link href="./css/event_thing.css" rel="stylesheet" />
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- font awesome style -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="./css/review.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->

        <header class="header_section">

            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="/">
                            <span>
                                Solutionise
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/about"> About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/contact">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/faq">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section ">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="detail-box">
                            <h1>
                                Business <br>
                                Computing <br>
                                Legal support
                            </h1>
                            <p>
                                Decide on a suitable business entity (e.g., sole proprietorship, LLC, corporation) based on liability, taxation, and operational needs. Register your business with local and national authorities, including obtaining tax identification numbers and business licenses. Timely incorporation is key to limiting personal liability and ensuring compliance
                            </p>
                            <a href="/Booking/Create">
                                Start now
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-box">
                            <img src="~/images/lsbu_logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>

    <!-- feature section -->
    <section class="feature_section">
        <div class="conatiner">
            <div class="feature_container">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/cloud-computing.png" alt="" />
                    </div>
                    <h3 class="name">Need computing support for your business to flourish?</h3>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/idea.png" alt="" />
                    </div>
                    <h3 class="name">
                        Got an Idea?
                        Need to think about the future potential?
                    </h3>
                </div>

            </div>
        </div>

    </section>
    <section class="feature_section feature_section-bottom">
        <div class="conatiner">
            <div class="feature_container">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/legal-document.png" alt="" />
                    </div>
                    <h3 class="name">Need Legal support to establish your business?</h3>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/salary.png" alt="" />
                    </div>
                    <h3 class="name">
                        Need funding for your business?
                    </h3>
                </div>

            </div>
        </div>

    </section>

    <!-- end feature section -->
    <!-- about section -->

    <section class="about_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="detail-box">
                        <h2>
                            About us
                        </h2>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                        </p>
                        <a href="/home/about">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="img-box">
                        <img src="~/images/about_us.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- professional section -->

    <section class="professional_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/images/professional-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="detail-box">
                        <h2>
                            We Provide Professional <br>
                            Home Services.
                        </h2>
                        <p>
                            randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All randomised words which don't look even slightly
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end professional section -->
    <!-- events section  -->
    <section class="service_section service-layout-padding">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2> events </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 mx-auto">
                    <div class="event-box">
                        <div class="holder">
                            <div class="v73_77">
                                <div class="v73_78"></div>
                                <span class="v73_79">Pitch Yourself: Understand what Investors are looking for</span>
                                <div class="v73_113">
                                    <div class="v73_114"></div>
                                    <span class="v73_115">23</span><span class="v73_116">DEC</span>
                                    <div class="v73_117"></div>
                                </div>
                                <div class="v73_90">
                                    <div class="v73_91"></div>
                                    <span class="v73_92">Join</span>
                                    <div class="v73_93"></div>
                                    <div class="v73_94"></div>
                                </div>
                            </div>
                        </div>
                        <div class="holder">
                            <div class="v73_77">
                                <div class="v73_78"></div>
                                <span class="v73_79">Pitch Yourself: Understand what Investors are looking for VDATE HERE</span>
                                <div class="v73_113">
                                    <div class="v73_114"></div>
                                    <div class="vDate"><span class="v73_115">23</span><span class="v73_116">DEC</span></div>
                                    <div class="v73_117"></div>
                                </div>
                                <div class="v73_90">
                                    <div class="v73_91"></div>
                                    <span class="v73_92">Join</span>
                                    <div class="v73_93"></div>
                                    <div class="v73_94"></div>
                                </div>
                            </div>
                        </div>
                        <div class="holder">
                            <div class="v73_77">
                                <div class="v73_78"></div>
                                <span class="v73_79">Pitch Yourself: Understand what Investors are looking for</span>
                                <div class="v73_113">
                                    <div class="v73_114"></div>
                                    <span class="v73_115">23</span><span class="v73_116">DEC</span>
                                    <div class="v73_117"></div>
                                </div>
                                <div class="v73_90">
                                    <div class="v73_91"></div>
                                    <span class="v73_92">Join</span>
                                    <div class="v73_93"></div>
                                    <div class="v73_94"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View More
                </a>
            </div>
        </div>
        </div>
    </section>


    <!-- end events section -->
    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2> Our Services </h2>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/business_services.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Business
                            </h5>
                            <p>
                                Business establishment support - Strategy and Funding
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/computing_services.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Computing
                            </h5>
                            <p>
                                Computing Support, Cloud computing and IT support
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mx-auto">
                    <div class="box service-box">
                        <div class="img-box">
                            <img src="~/images/legal_services.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Legal Support
                            </h5>
                            <p>
                                Legal breakdown, business compliances and Etc
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>

    <!-- end service section -->
    <!-- reviews section -->

    <section class="service_section reviews-layout-padding">
        <div class="container review-container">
            <div class="heading_container heading_center reviews-heading">
                <h2>Reviews</h2>
            </div>
            <div class="holder-review">
                <div class="v73_226">
                    <div class="v73_227">
                        <div class="v73_228"></div>
                        <div class="v73_229"></div>
                    </div>
                    <div class="bubble-wrapper">
                        <!-- Bubble Component Start -->
                        <div class="bubble">
                            <div class="bubble-circle">
                                <div class="bubble-quote"></div>
                            </div>
                            <div class="bubble-content">
                                <span class="bubble-text">“Yayyyyy it’s great, placeholder text! I couldn’t have flied without Soloutionise!”</span>
                                <span class="bubble-author">James KettleCEO, Example Company</span>
                            </div>
                        </div>
                        <!-- Bubble Component End -->
                        <!-- Add more bubbles by repeating the above structure -->
                        <div class="bubble">
                            <div class="bubble-circle">
                                <div class="bubble-quote"></div>
                            </div>
                            <div class="bubble-content">
                                <span class="bubble-text">“This service changed everything for our team. Highly recommended!”</span>
                                <span class="bubble-author">Jane Doe, COO, Example Corp</span>
                            </div>
                        </div>

                        <div class="bubble">
                            <div class="bubble-circle">
                                <div class="bubble-quote"></div>
                            </div>
                            <div class="bubble-content">
                                <span class="bubble-text">“A game-changer! The best solution we’ve ever used.”</span>
                                <span class="bubble-author">John Smith, Founder, Startup</span>
                            </div>
                        </div>

                        <div class="bubble">
                            <div class="bubble-circle">
                                <div class="bubble-quote"></div>
                            </div>
                            <div class="bubble-content">
                                <span class="bubble-text">“Superb customer service and outstanding results. Truly fantastic!”</span>
                                <span class="bubble-author">Emily Johnson, Director, Company X</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>
    </section>

    <!-- end reviews section -->
    <!-- JTF section -->

    <section class="service_section jft-layout-padding">
        <div class="container review-container">
            <div class="heading_container heading_center reviews-heading">
                <h2>JOIN THE FAMILY</h2>
            </div>
            <div class="holder-review">
                <div class="v73_226">
                    <div class="jtf_img">
                        <div class="jtf_filter"></div>
                        <div class="jft_picture"></div>
                        <div class="jft_button">
                            <a href="/Booking/Create">
                                Start now
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        </div>
        </div>
    </section>

    <!-- end JTF section -->
    <!-- info section -->
    <section class="info_section">


        <!-- Useful Information Section -->
        <div class="useful_info">
            <h4>Useful Information</h4>
            <div class="info_links">
                <a href="policies.html" class="footer_button">Terms & Conditions</a>
                <a href="policies.html" class="footer_button">Cookie Policy</a>
                <a href="policies.html" class="footer_button">Privacy Policy</a>
            </div>
        </div>

        <!-- Connect with Us Section -->
        <div class="social-box">
            <h4>Connect with Us</h4>

            <div class="box">
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </div>
            <div class="contact_nav">
                <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        Call : +44 123455678990
                    </span>
                </a>
                <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        Email : email@lsbu.ac.uk
                    </span>
                </a>
            </div>
        </div>
        </div>
    </section>
    <!-- end info section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayDateYear"></span> London South Bank University
                <a href="https://html.design/"></a>
            </p>
        </div>
    </footer>
    <!-- footer section -->

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <script src="~/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->


</body>

</html>